* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: url("../imgs/background.png") no-repeat fixed;
  background-size: cover;
  width: 100vw;
}

.header {
  background-color: white;
  width: 100vw;
  height: 216px;
  -webkit-box-shadow: 0px 2px 2px rgb(0, 0, 0);
          box-shadow: 0px 2px 2px rgb(0, 0, 0);
}
.header .logo {
  border: 1px solid;
  width: 300px;
  height: 168px;
  margin-top: 10px;
  padding-left: 15px;
  display: inline-block;
}
.header .profile {
  border: 1px solid;
  display: inline-block;
  margin-top: 20px;
  padding-left: 900px;
  font-weight: 500;
  padding-top: 70px;
  color: black;
  font-size: 20px;
}
.header .profile .profile__pic {
  margin-top: -15px;
  width: 57px;
  height: 57px;
  margin-left: 15px;
  display: inline;
}
.header .profile .profile__text {
  font-weight: 400;
  display: inline;
}
.header .navigation {
  padding-top: 5px;
  margin-left: 452px;
  font-size: 25px;
  color: black;
  display: inline-block;
}
.header .menu__li {
  display: inline-block;
}
.header .menu__li .menu__li__text {
  color: black;
  font-weight: 500;
}
.header .second {
  margin-left: 400px;
}
.header .third {
  margin-left: 29px;
}

.worksection {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 450px;
  background-color: white;
  border: 1px solid #172F87;
}
.worksection .form__info {
  margin-top: 40px;
  height: 200px;
  border-top: 1px solid #172F87;
  border-bottom: 1px solid #172F87;
}
.worksection .form__info__prepod {
  margin-top: 40px;
  height: 200px;
  border-top: 1px solid #172F87;
  border-bottom: 1px solid #172F87;
  display: none;
}
.worksection .form_acc_info_prepod {
  display: none;
}
.worksection input {
  border: 1px solid #172F87;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 5px;
  margin-left: 15px;
  text-align: center;
}
.worksection .role_select {
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}
.worksection .role_select .roles__select {
  margin-top: 5px;
  border: 1px solid #172F87;
}
.worksection .info {
  text-align: center;
}
.worksection .info_name {
  margin-left: 10px;
  display: inline-block;
}
.worksection .email {
  width: 300px;
}
.worksection .password {
  margin-left: 55px;
}
.worksection .button__div {
  text-align: center;
}
.worksection .button__div .submit {
  text-align: center;
  margin-top: 10px;
  width: 100px;
  height: 22px;
  background-color: #172F87;
  border: 1px solid;
  border-radius: 10px;
  color: #FFF;
}